<!DOCTYPE html>
<html lang="en">
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/template.css">

<div class="box" style="border: 0px solid blue;">

  <div class="center" style="border: 1px solid red;">
    <div class="centertext">
    <h1 style="margin-bottom: 20px;">Home</h1>
    <p class="w3-opacity"><i>Students</i>

    {{range $element := .Users}} 
    <div class="w3-justify a">
      <p class="a">
         {{$element.Name}} 
      </p>
      <p class="b">
        [<a href="/view/{{$element.Student_id}}">view</a>]
      </p>
      </div> 
    {{end}}
    <p class="w3-opacity"><i>Tutors</i>
    {{range $element := .Tutors}} 
    <div class="w3-justify a">
      <p class="a">
         {{$element.Firstname}} {{$element.Lastname}} 
      </p>
      <p class="b">
        [<a href="/view/{{$element.TutorID}}">view</a>]
      </p>
      </div> 
    {{end}}

  </div>
</div>
</div>

